*{
    padding: 0;
    margin: 0;
}
.learning-top{
    text-align: center;
     margin-bottom: 50px;
}
.learning-top h1{
    font-size: 70px;
    margin-bottom: 20px;
    background: linear-gradient(276deg, blue, rgb(255, 4, 4));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.learning-top p{
   font-size: 18px;
    color: rgba(86, 86, 86, 0.922); 
}
.learning-top-blocks{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: 50px;
}
.learning-top-block-img{
    width: 22px;
    height: 22px;
    padding: 1px;
    border-radius: 8px;
}
.learning-top-block{
    display: flex;
    align-items: center;
    width: 300px;
    gap: 15px;
    border: 1px solid  rgb(147 144 144 / 38%);
    border-radius: 10px;
    padding: 10px;
}
.learning-top-block-img img{
    width: 20px;
}
.learning-top-block-texts{
    max-width: 800px;
}
.learning-top-block-texts p{
    font-size: 14px;
     color: rgba(86, 86, 86, 0.922);
}
.learning-top-block-texts h1{
 font-size: 20px;
}

.learning-top-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 50px;
}
.chatbot-trigger{
   display: flex;
   align-items: center;
   gap: 8px;
   background-color: #007bff;
   color: white;
   border-radius: 5px;
   padding: 15px;
   transition: 0.3s;
}

.chatbot-trigger:hover{
     background-color: #a5fcff;
    cursor: pointer;
    border: none;
     color: rgb(0, 0, 0);
}
.learning-top-login-seg1{
    padding: 0 30px;
}
.learning-top-login-seg1 h1{
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(276deg, blue, rgb(255, 4, 4));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.disastrabot{
    padding: 0 50px;
}