* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alerts {
  padding: 0 1rem;
}

.alert-top {
  text-align: center;
  margin-bottom: 50px;
}

.alert-top h1 {
  font-size: 70px;
  margin-bottom: 20px;
  background: linear-gradient(276deg, blue, rgb(255, 4, 4));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert-top p {
  font-size: 18px;
  color: rgba(86, 86, 86, 0.922);
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

.alert-bottom {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alert-img {
  background-color: rgba(202, 248, 255, 0.896);
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.alert-img img {
  width: 50px;
  filter: brightness(0) saturate(100%) invert(27%) sepia(100%) saturate(7482%) hue-rotate(246deg) brightness(106%) contrast(143%);
  opacity: 0.896;
}

.alert-bottom h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.alert-bottom p {
  font-size: 15px;
  color: rgba(86, 86, 86, 0.922);
  margin-bottom: 150px;
  max-width: 600px;
  line-height: 1.4;
}


@media (max-width: 1024px) {
  .alert-top h1 {
    font-size: 50px;
  }
  .alert-top p {
    font-size: 16px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .alert-top h1 {
    font-size: 38px;
  }
  .alert-top p {
    font-size: 15px;
  }
  .alert-img {
    width: 70px;
    height: 70px;
  }
  .alert-img img {
    width: 40px;
  }
  .alert-bottom h1 {
    font-size: 20px;
  }
  .alert-bottom p {
    font-size: 14px;
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .alert-top h1 {
    font-size: 28px;
  }
  .alert-top p {
    font-size: 14px;
  }
  .alert-img {
    width: 60px;
    height: 60px;
  }
  .alert-img img {
    width: 32px;
  }
  .alert-bottom h1 {
    font-size: 18px;
  }
  .alert-bottom p {
    font-size: 13px;
    margin-bottom: 60px;
  }
}
